<div class="mobile-menu custom-animated fadeIn hide">
  <div class="mobile-menu-header">
      <h1>מרכז המבקרים</h1>
      <span class="close-menu">✕</span>
      <hr>
  </div>
  <div class="mobile-menu-body">
      <nav>
          <ul>
              <a class="mobile-menu-links" id="now-in-library-mobile"  href="#now-in-library">
                  <li class="col-sm-12">
                      - עכשיו בספרייה -
                  </li>
              </a>
              <a class="mobile-menu-links" href="#questions-answers">
                  <li class="col-sm-12">
                      - שאלות ותשובות -
                  </li>
              </a>
              <a class="mobile-menu-links" href="#room-renting">
                  <li class="col-sm-12">
                      - חדרים להשכרה -
                  </li>
              </a>
              <a class="mobile-menu-links" href="http://web.nli.org.il/sites/NLI/Hebrew/library/Visitors_Center/independent-library-tour/Pages/default.aspx">
                  <li class="col-sm-12">
                      - סיור עצמאי -
                  </li>
              </a>
              <a class="mobile-menu-links" href="http://web.nli.org.il/sites/NLI/Hebrew/library/Visitors_Center/Tours/Pages/Tours.aspx">
                  <li class="col-sm-12">
                      - סיור פתוח -
                  </li>
              </a>
          </ul>
      </nav>
  </div>
  <div class="mobile-menu-footer">
      <div class="mobile-menu-img-holder">
          <a target="_blank" href="http://web.nli.org.il/sites/nli/hebrew/pages/default.aspx/">
              <img src="07bfe73de60f456e4539dd1b82094b00.png" alt="The National Library of Israel" width="200">
          </a>
      </div>
  </div>
</div>