<section>
  <h2 id="room-renting" class="section-title">חדרים להשכרה</h2>
  <div class="room-rent">
      <div class="container">
          <div class="section-content">
              <p class="section-text">
                  הספרייה מעמידה לרשות באיה חדרי לימוד שבהם אפשר ללמוד יחד בסביבה שקטה. בכל חדר חמישה מקומות ישיבה ומסך LCD שאפשר לחבר אליו מחשב נייד. החדרים ממוקמים בקומת הכניסה ובאולם קריאה יהדות, ישראל, אסלאם ומזרח תיכון. 
              </p>
              <p class="section-text">
                  ניתן להשאיל מתאמים למסכים המצויים בחדרי היעץ ממחלקת ההשאלה. לנוחיותכם, ניתן להשאיל גם מתאמי מסך למחשבים ניידים.
              </p>
              <p class="section-text">
                  לפרטים והשאלה אנא פנו לדלפק ההשאלה בקומה הכניסה ההשאלה הינה לקוראים רשומים (ההרשמה בחינם).
              </p>
          </div>
      </div>
  </div>
</section>