<!-- <section>
    <h2 id="now-in-library" class="section-title">עכשיו בספרייה</h2>
    <owl-carousel #owlEvents id="owl-carousel-events" tabindex="0"

    [options]="carouselOptions"
    [items]="images"
    [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="item" *ngFor="let image of images;let i = index">
         <div class="thumbnail-image" [ngStyle]="{'background': 'url('../../assets/img/IMG_0004.png')no-repeat scroll center center / 80px 80px'}"></div> -->
        <!-- <div class="events-container">
            <div class="event-content">
                <div class="event">
                    <div class="event-cont-header">
                        <p class="text ellipsis">
                            <span class="cont-header-text">
                                קלאצי סחטיר בלובק. תצטנפלישגן שדןגחשןד שדןגחש'ןג שן'גחשן'חג שן'גחשן'חגש'ג לשדחגךלחשדג לדחגךש בלינדו למרקל אס לכימפו, דול, צוט ומעיוט
                            </span>
                        </p>
                    </div>
                    <div class="event-cont-body" style="background-image:url('./assets/img/Layer6.png')"></div>
                    <dl class="event-cont-footer">
                        <dt>קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט</dt>
                        <dd class="event-description-item event-item day">יום חמישי</dd>
                        <dd class="event-description-item event-item">
                            <time datetime="2017-12-12" class="date">12.12.2017</time>
                        </dd>
                        <dd class="event-description-item event-item">
                            <time datetime="16:00" class="time">16:00</time>
                        </dd>
                        <dd class="event-description-item last-item">
                            <a class="event-sign-up-link my-link" tabindex="-1">לפרטים והרשמה</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</owl-carousel> --> 
    <!-- <div id="customNavEvents" class="owl-nav"><div #test class="owl-prev"><i  class="carousel-icons icon-angle-right icon-right-arrow"></i></div><div class="owl-next"><i class="carousel-icons icon-angle-left icon-left-arrow"></i></div></div> -->


  <!-- <div #owlEvents id="owl-carousel-events" class="owl-carousel owl-theme" tabindex="0">
      <div class="events-container">
          <div class="event-content">
              <div class="event">
                  <div class="event-cont-header">
                      <p class="text ellipsis">
                          <span class="cont-header-text">
                              קלאצי סחטיר בלובק. תצטנפלישגן שדןגחשןד שדןגחש'ןג שן'גחשן'חג שן'גחשן'חגש'ג לשדחגךלחשדג לדחגךש בלינדו למרקל אס לכימפו, דול, צוט ומעיוט
                          </span>
                      </p>
                  </div>
                  <div class="event-cont-body" style="background-image:url('./assets/img/Layer6.png')"></div>
                  <dl class="event-cont-footer">
                      <dt>קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט</dt>
                      <dd class="event-description-item event-item day">יום חמישי</dd>
                      <dd class="event-description-item event-item">
                          <time datetime="2017-12-12" class="date">12.12.2017</time>
                      </dd>
                      <dd class="event-description-item event-item">
                          <time datetime="16:00" class="time">16:00</time>
                      </dd>
                      <dd class="event-description-item last-item">
                          <a class="event-sign-up-link my-link" tabindex="-1">לפרטים והרשמה</a>
                      </dd>
                  </dl>
              </div>
          </div>
      </div>
      <div class="events-container">
          <div class="event-content">
              <div class="event">
                  <div class="event-cont-header">
                      <p class="text ellipsis">
                          <span class="cont-header-text">
                              קלאצי סחטיר בלובק. תצטנפלישגן שדןגחשןד שדןגחש'ןג שן'גחשן'חג שן'גחשן'חגש'ג לשדחגךלחשדג לדחגךש בלינדו למרקל אס לכימפו, דול, צוט ומעיוט
                          </span>
                      </p>
                  </div>
                  <div class="event-cont-body" style="background-image:url('./assets/img/IMG_0009.png')"></div>
                  <dl class="event-cont-footer">
                      <dt>קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט</dt>
                      <dd class="event-description-item event-item day">יום חמישי</dd>
                      <dd class="event-description-item event-item">
                          <time datetime="2017-12-12" class="date">12.12.2017</time>
                      </dd>
                      <dd class="event-description-item event-item">
                          <time datetime="16:00" class="time">16:00</time>
                      </dd>
                      <dd class="event-description-item last-item">
                          <a class="event-sign-up-link my-link" tabindex="-1">לפרטים והרשמה</a>
                      </dd>
                  </dl>
              </div>
          </div>
      </div>
      <div class="events-container">
          <div class="event-content">
              <div class="event">
                  <div class="event-cont-header">
                      <p class="text ellipsis">
                          <span class="cont-header-text">
                              קלאצי סחטיר בלובק. תצטנפלישגן שדןגחשןד שדןגחש'ןג שן'גחשן'חג שן'גחשן'חגש'ג לשדחגךלחשדג לדחגךש בלינדו למרקל אס לכימפו, דול, צוט ומעיוט
                          </span>
                      </p>
                  </div>
                  <div class="event-cont-body" style="background-image:url('./assets/img/IMG_0009.png')"></div>
                  <dl class="event-cont-footer">
                      <dt>קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט</dt>
                      <dd class="event-description-item event-item day">יום חמישי</dd>
                      <dd class="event-description-item event-item">
                          <time datetime="2017-12-12" class="date">12.12.2017</time>
                      </dd>
                      <dd class="event-description-item event-item">
                          <time datetime="16:00" class="time">16:00</time>
                      </dd>
                      <dd class="event-description-item last-item">
                          <a class="event-sign-up-link my-link" tabindex="-1">לפרטים והרשמה</a>
                      </dd>
                  </dl>
              </div>
          </div>
      </div>
      <div class="events-container">
          <div class="event-content">
              <div class="event">
                  <div class="event-cont-header">
                      <p class="text ellipsis">
                          <span class="cont-header-text">
                              קלאצי סחטיר בלובק. תצטנפלישגן שדןגחשןד שדןגחש'ןג שן'גחשן'חג שן'גחשן'חגש'ג לשדחגךלחשדג לדחגךש בלינדו למרקל אס לכימפו, דול, צוט ומעיוט
                          </span>
                      </p>
                  </div>
                  <div class="event-cont-body" style="background-image:url('./assets/img/Layer 13.png')"></div>
                  <dl class="event-cont-footer">
                      <dt>קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט</dt>
                      <dd class="event-description-item event-item day">יום חמישי</dd>
                      <dd class="event-description-item event-item">
                          <time datetime="2017-12-12" class="date">12.12.2017</time>
                      </dd>
                      <dd class="event-description-item event-item">
                          <time datetime="16:00" class="time">16:00</time>
                      </dd>
                      <dd class="event-description-item last-item">
                          <a class="event-sign-up-link my-link" tabindex="-1">לפרטים והרשמה</a>
                 </dd>
              </dl>
          </div>
      </div>
  </div>
  <div class="events-container">
      <div class="event-content">
          <div class="event">
              <div class="event-cont-header">
                  <p class="text ellipsis">
                      <span class="cont-header-text">
                          קלאצי סחטיר בלובק. תצטנפלישגן שדןגחשןד שדןגחש'ןג שן'גחשן'חג שן'גחשן'חגש'ג לשדחגךלחשדג לדחגךש בלינדו למרקל אס לכימפו, דול, צוט ומעיוט
                      </span>
                  </p>
              </div>
              <div class="event-cont-body" style="background-image:url('./assets/img/Layer 11.png')"></div>
              <dl class="event-cont-footer">
                  <dt>קלאצי סחטיר בלובק. תצטנפל בלינדו למרקל אס לכימפו, דול, צוט ומעיוט</dt>
                  <dd class="event-description-item event-item day">יום חמישי</dd>
                  <dd class="event-description-item event-item">
                      <time datetime="2017-12-12" class="date">12.12.2017</time>
                  </dd>
                  <dd class="event-description-item event-item">
                      <time datetime="16:00" class="time">16:00</time>
                  </dd>
                  <dd class="event-description-item last-item">
                      <a class="event-sign-up-link my-link" tabindex="-1">לפרטים והרשמה</a>
                  </dd>
              </dl>
          </div>
      </div>
     </div>
  </div> -->
<!-- </section> -->
