<header >
  <div class="container">

     <!-- Mobile Menu Burger -->
     <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
     </div>

     <!-- Title Container -->
     <div class="title-container">
        <div class="row title-row">
           <div class="title col-xs-12 col-sm-6 desktop-inner">
              <h1>מרכז<br id="title-breaker">המבקרים<br class="title-breaker"><br class="title-breaker"><span class="rectangle"></span></h1>
           </div>
           <div class="logo-container col-xs-12 col-sm-6 desktop-inner">
                 <a target="_blank" href="http://web.nli.org.il/sites/nli/hebrew/pages/default.aspx/">
                     <img class="affix-logo" src="./assets/img/logo-mast-3.png" alt="הספרייה הלאומית" id="desktop-logo">
                 </a>
           </div>
        </div>
     </div>

     <!-- Desktop Menu -->
     <div class="nav">
        <nav id="desktop" class="container myScrollspy">
           <ul class="row align-items-center desktop-menu-items-container nav nav-pills">
              <li class="desktop-menu-flex"><a class="desktop-nav-links" id="first-link" href="#now-in-library">עכשיו בספרייה</a></li>
              <li class="desktop-menu-flex"><a class="desktop-nav-links" href="#questions-answers">שאלות ותשובות</a></li>
              <li class="desktop-menu-flex"><a class="desktop-nav-links" href="#room-renting">חדרים להשכרה</a></li>
              <li class="desktop-menu-flex"><a class="desktop-nav-links external-links" target="_blank" href="http://web.nli.org.il/sites/NLI/Hebrew/library/Visitors_Center/independent-library-tour/Pages/default.aspx">סיור עצמאי</a></li>
              <li class="desktop-menu-flex"><a class="desktop-nav-links external-links" target="_blank" href="http://web.nli.org.il/sites/NLI/Hebrew/library/Visitors_Center/Tours/Pages/Tours.aspx">סיור פתוח</a></li>
           </ul>
        </nav>
     </div>
     <div class="scrolling-logo-container">
        <img src="./assets/img/logo.png" alt="NLI" width="40">
     </div>

     <!-- Mobile Menu -->
     <!-- <nav id="mobile-menu">
        <ul class="row">
           <li class="col-xs-12"><a href="#now-in-library">עכשיו בספרייה</a></li>
           <li class="col-xs-12"><a href="#questions-answers">שאלות ותשובות</a></li>
           <li class="col-xs-12"><a href="#room-renting">חדרים להשכרה</a></li>
           <li class="col-xs-12"><a target="_blank" href="http://web.nli.org.il/sites/NLI/Hebrew/library/Visitors_Center/independent-library-tour/Pages/default.aspx">סיור עצמאי</a></li>
           <li class="col-xs-12"><a target="_blank" href="http://web.nli.org.il/sites/NLI/Hebrew/library/Visitors_Center/Tours/Pages/Tours.aspx">סיור פתוח</a></li>
         </ul>
     </nav> -->
 </div>
</header>