<div class="mobile-only-content">
  <section>
      <h2 id="self-tour" class="section-title">סיור עצמאי</h2>
      <div class="mobile-container">
          <div class="mobile-inner-container center-text">
              <p class="mobile-text">ניתן לקיים סיור עצמאי בספרייה, הכולל ביקור באוספירם נבחרים</p>
              <a class="btn mobile-sections-links" href="http://web.nli.org.il/sites/NLI/Hebrew/library/Visitors_Center/independent-library-tour/Pages/default.aspx">
                   לפרטים על הסיור העצמאי
              </a>

          </div>
      </div>
  </section>
  <section>
      <h2 id="open-tour" class="section-title">סיור פתוח</h2>
      <div class="mobile-container">
          <div class="mobile-inner-container center-text">
              <p class="mobile-text">מדי יום חמישי בשעה 11:00 יתקיים סיור היכרות מודרך ללא תשלום</p>
              <a class="btn mobile-sections-links" href="http://web.nli.org.il/sites/NLI/Hebrew/library/Visitors_Center/Tours/Pages/Tours.aspx">
                   לפרטים על הסיור הפתוח
              </a>

          </div>
      </div>
  </section>
</div>